extends layout

block content
  h1= SASS
  p
  http://localhost:3000/compilers/sass?file_urls=http://stevensoule.com/dev/sample-app/assets/scss/main.scss,http://stevensoule.com/dev/sample-app/assets/scss/another.scss
  http://localhost:3000/compilers/sass?file_urls[]=http://stevensoule.com/dev/sample-app/assets/scss/main.scss&file_urls[]=http://stevensoule.com/dev/sample-app/assets/scss/another.scss
